$main-color:ghostwhite;
$header-hover-color:gray;
@mixin hover-event {
    cursor: pointer;
    background: $header-hover-color;
}
body{
    position: relative;
    padding: 0px;
    margin: 0px;
    background:gray;
}
#main-part{
overflow: hidden;
margin-top: 120px;
display: inline-block;
position: absolute;
background: pink;
height: 500px;
width: 100%;
}
//头部
header{
    background:$main-color;
    height: 50px;
    width: 100%;
    text-align: center;
    .header-container{
        height: 50px;
        width: 90%;
        min-width: 1100px;
        display: flex;
        flex-wrap: nowrap;
        margin-left: 5%;
        .header-title{
            width: 22%;
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            .header-logo{
                display:inline-block;
                height: 50px;
                width: 30%;
                .header-logo-pic{
                    height: 30px;
                    width: 60px;
                    padding: 10px 0;
                }
            }
            .header-title-box{
                width: 67%;
                height: 50px;
                display: inline-block;
                overflow: hidden;
                span{
                    font-size: 20px;
                }
            }
        }
        .header-menu{
            width: 58%;
            height: 50px;
            .header-menu-ul{
                padding: 0px;
                margin: 0px;
                .header-menu-li{
                    list-style: none;
                    float: left;
                    height: 50px;
                    width: 20%;
                    margin: 0px 10px;
                    line-height: 50px;
                    transition: all .5s;
                    &:hover{
                        @include hover-event();
                    }
                    &:hover .menu-child{
                        display: block;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    .menu-child{
                        display: none;
                        background: $main-color;
                        padding: 0px;
                        li{
                            list-style:none;
                            &:hover{
                                @include hover-event();
                            }
                        }
                    }
                }
            }
        }
        .header-user{
            height: 50px;
            width: 20%;
            .header-btn{
                padding: 9px;
                width: 70%;
                float:right;
                span{
                    display:inline-block;
                    padding: 5px 15px;
                    background: gainsboro;
                    border-radius: 5px;
                    &:hover{
                        cursor: pointer;
                    }
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}