@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\000037}}
body {
  position: relative;
  padding: 0px;
  margin: 0px;
  background: bisque;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000313}}
#main-part {
  overflow: hidden;
  margin-top: 120px;
  display: inline-block;
  position: absolute;
  background: pink;
  height: 500px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000323}}
header {
  position: relative;
  z-index: 99;
  background: ghostwhite;
  height: 50px;
  width: 100%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000330}}
header .header-container {
  background: ghostwhite;
  height: 50px;
  width: 90%;
  min-width: 1100px;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000338}}
header .header-container .header-title {
  width: 22%;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000343}}
header .header-container .header-title .header-logo {
  display: inline-block;
  height: 50px;
  width: 30%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000347}}
header .header-container .header-title .header-logo .header-logo-pic {
  height: 30px;
  width: 60px;
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000353}}
header .header-container .header-title .header-title-box {
  width: 67%;
  height: 50px;
  display: inline-block;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000358}}
header .header-container .header-title .header-title-box span {
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000360}}
header .header-container .header-title .header-title-box span a {
  text-decoration: none;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000363}}
header .header-container .header-title .header-title-box span a:hover {
  cursor: pointer;
  color: blue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000371}}
header .header-container .header-menu {
  width: 58%;
  height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000374}}
header .header-container .header-menu .header-menu-ul {
  padding: 0px;
  margin: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000377}}
header .header-container .header-menu .header-menu-ul .header-menu-li {
  list-style: none;
  float: left;
  height: 50px;
  width: 24%;
  line-height: 50px;
  transition: all .2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000384}}
header .header-container .header-menu .header-menu-ul .header-menu-li:hover .menu-child {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000387}}
header .header-container .header-menu .header-menu-ul .header-menu-li a {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000394}}
header .header-container .header-menu .header-menu-ul .header-menu-li .menu-child {
  background: ghostwhite;
  padding: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\0000397}}
header .header-container .header-menu .header-menu-ul .header-menu-li .menu-child li {
  list-style: none;
  transition: all .2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\00003100}}
header .header-container .header-menu .header-menu-ul .header-menu-li .menu-child li:hover {
  cursor: pointer;
  background: darkgray;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\00003108}}
header .header-container .header-user {
  height: 50px;
  width: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\00003111}}
header .header-container .header-user .header-btn {
  padding: 9px;
  width: 70%;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\00003115}}
header .header-container .header-user .header-btn span {
  display: inline-block;
  padding: 5px 15px;
  background: gainsboro;
  border-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\00003120}}
header .header-container .header-user .header-btn span:hover {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\00003123}}
header .header-container .header-user .header-btn span a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\00003125}}
header .header-container .header-user .header-btn span a:hover {
  color: blue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\00003134}}
.headeractive {
  background: gray;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\00003137}}
.headerhovser {
  background: darkgray;
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/center\/css\/homepage\.css\/headerPart\.scss}line{font-family:\00003141}}
.target {
  display: none;
}

/*# sourceMappingURL=headerPart.css.map */
