.appbox{
    height: 150px;
    width: 80%;
    background: #EDEDF0;
    .appcon{
        display: flex;
        height: 100%;
        width: 90%;
        margin-left: 5%;
        
        .app-Left{
            height: 120px;
            width: 80%;
            margin-top: 15px;
            .app-title-pic{
                height: 40px;
                width: 80px;
                padding: 10px;
                img{
                    height: 40px;
                    width: 80px;
                }
            }
            .app-title-word{
                height: 20px;
                width: 50px;
                padding: 20px;
            }
            .app-discript{
                height: 30px;
                padding: 10px;
                tr{
                    width: 150px;
                    td{
                        width: 150px;
                        background: pink;
                    }
                }
            }
        }
        .app-right{
            margin-top: 15px;
            height: 120px;
            width: 20%;
            background: yellow;
        }
    }
}

