@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/\%E5\%BA\%94\%E7\%94\%A8\%E5\%B9\%B3\%E5\%8F\%B0\%E5\%BC\%80\%E5\%8F\%91\/personal\/css\/app\.scss}line{font-family:\000031}}
.appbox {
  height: 150px;
  width: 80%;
  background: #EDEDF0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/\%E5\%BA\%94\%E7\%94\%A8\%E5\%B9\%B3\%E5\%8F\%B0\%E5\%BC\%80\%E5\%8F\%91\/personal\/css\/app\.scss}line{font-family:\000035}}
.appbox .appcon {
  display: flex;
  height: 100%;
  width: 90%;
  margin-left: 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/\%E5\%BA\%94\%E7\%94\%A8\%E5\%B9\%B3\%E5\%8F\%B0\%E5\%BC\%80\%E5\%8F\%91\/personal\/css\/app\.scss}line{font-family:\0000311}}
.appbox .appcon .app-Left {
  height: 120px;
  width: 80%;
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/\%E5\%BA\%94\%E7\%94\%A8\%E5\%B9\%B3\%E5\%8F\%B0\%E5\%BC\%80\%E5\%8F\%91\/personal\/css\/app\.scss}line{font-family:\0000315}}
.appbox .appcon .app-Left .app-title-pic {
  height: 40px;
  width: 80px;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/\%E5\%BA\%94\%E7\%94\%A8\%E5\%B9\%B3\%E5\%8F\%B0\%E5\%BC\%80\%E5\%8F\%91\/personal\/css\/app\.scss}line{font-family:\0000319}}
.appbox .appcon .app-Left .app-title-pic img {
  height: 40px;
  width: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/\%E5\%BA\%94\%E7\%94\%A8\%E5\%B9\%B3\%E5\%8F\%B0\%E5\%BC\%80\%E5\%8F\%91\/personal\/css\/app\.scss}line{font-family:\0000324}}
.appbox .appcon .app-Left .app-title-word {
  height: 20px;
  width: 50px;
  padding: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/\%E5\%BA\%94\%E7\%94\%A8\%E5\%B9\%B3\%E5\%8F\%B0\%E5\%BC\%80\%E5\%8F\%91\/personal\/css\/app\.scss}line{font-family:\0000329}}
.appbox .appcon .app-Left .app-discript {
  height: 30px;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/\%E5\%BA\%94\%E7\%94\%A8\%E5\%B9\%B3\%E5\%8F\%B0\%E5\%BC\%80\%E5\%8F\%91\/personal\/css\/app\.scss}line{font-family:\0000332}}
.appbox .appcon .app-Left .app-discript tr {
  width: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/\%E5\%BA\%94\%E7\%94\%A8\%E5\%B9\%B3\%E5\%8F\%B0\%E5\%BC\%80\%E5\%8F\%91\/personal\/css\/app\.scss}line{font-family:\0000334}}
.appbox .appcon .app-Left .app-discript tr td {
  width: 150px;
  background: pink;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sunny\/Desktop\/kayla\/mac_pos\/\%E5\%BA\%94\%E7\%94\%A8\%E5\%B9\%B3\%E5\%8F\%B0\%E5\%BC\%80\%E5\%8F\%91\/personal\/css\/app\.scss}line{font-family:\0000341}}
.appbox .appcon .app-right {
  margin-top: 15px;
  height: 120px;
  width: 20%;
  background: yellow;
}

/*# sourceMappingURL=app.css.map */
