<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./css/homepage.css/headerPart.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header id="header-part">
        <div class="header-container">
            <div class="header-title">
                <div class="header-logo">
                        <img class="header-logo-pic" :src='logourl'>
                </div>
                <div class="header-title-box">
                    <span class="header-title-word"><a href="#">中控服务开放平台</a></span>
                </div>
                
            </div>
            <div class="header-menu">
                <ul class="header-menu-ul" v-for='nav in nav'>
                    <li class="header-menu-li"><a href="#">{{nav.title}}</a>
                        <ul v-if=nav.subnav class="menu-child">
                            <li v-for='i in nav.subnav'><a href="#">{{i.value}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header-user">
                    <div class="header-btn">
                        <span><a href="#">登录</a></span>
                        <span><a href="#">注册</a></span>
                    </div>
            </div>
        </div> 
    </header>
    <script src="./js/vue.js"></script>
    <script>
        var myapp = new Vue({
            el:"#header-part",
            data:{
                logourl:"./images/lg-img/WechatIMG15.jpeg",
                nav:[ 
                    {title:"服务商城",url:"",subnav:[
                            {value:"故宫问答",url:""},
                            {value:"故宫问答",url:""},
                            {value:"故问答",url:""}
                        ]
                    },
                    {title:"解决方案",url:"",subnav:[
                            {value:"解决方案",url:""},
                            {value:"解决方案",url:""},
                            {value:"解决方案",url:""},
                            {value:"解决方案",url:""}
                        ]
                    },
                    {title:"创建应用",url:"",subnav:[]
                    },
                    {title:"帮助中心",url:"",subnav:[
                            {value:"帮助中心",url:""},
                            {value:"帮助中心",url:""},
                            {value:"帮助中心",url:""}
                        ]
                    }
                ]
            }
        })
    </script>
    <script>
    </script>
</body>
</html>