ul,ol,p,h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;   
}
.leftsidebar {
    display: inline-block;
    width: 10%;
    min-width: 150px;
    height: 500px;
    background: #ccc;
    margin: 20px;
    /* padding-top: 40px; */
    border-radius: 10px;
    /* float: left; */
}
.leftsidebar .menu {
    padding-top: 40px;
    font-size: 16px;
}
.leftsidebar .menu li {
    cursor: pointer;
}
.leftsidebar .menu a {
    height: 10%;
    /* line-height: 20px; */
    padding: 5px 0 0 20px;
    display: block;            
}
.leftsidebar .menu a:hover{
    background: #bbb;
}
.leftsidebar .menu .submenu {
    font-size: 14px;
}
.leftsidebar .menu .submenu a {
    padding-left: 35px;
}
.rightcontent {
    display: inline-block;
    position: absolute;
    left:190px;
    margin:20px;
}
/* .drop {
    background: url('./images/lc-img/drop_down.jpg') no-repeat right center;
    background-size: 20px;
} */
.rightcontent .one_title{
    padding-bottom: 10px;
}
.rightcontent .two_title{
    padding-top: 10px;
}
.rightcontent .content .indent {
    padding-left: 20px;
}
.rightcontent .content  li {
    padding-bottom: 5px;
}
.rightcontent .content .third_title {
    padding: 10px 0 5px 0;
}