body{
    position: relative;
}
#ljApp{
    overflow: hidden;
    margin-top: 120px;
    display: inline-block;
    position: absolute;
}
.ljapp{
    height: 500px;
    width: 12%;
    background: gray;
}
.menu_li{
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    &:hover{
        background: darkgray;
        cursor: pointer;
    }
}

