#word_part{
    background: gainsboro;
    display: inline-block; 
    width: 83.7%;
    overflow: hidden;
    position: absolute;
    top: 120px;
    left: 12%;
    height: 800px;
    padding: 20px 30px;
    .li_title{
        padding: 10px 0 ;
        height: 30px;
    }
    .li_part{
        padding: 10px 0;
        height: 30px;
    }
    .li_art{
        padding: 10px 0;
        height: 200px;
    }
  }
  button{
      height: 50px;
      width: 150px;
      font-size: 20px;
      background: gray;
  }